@charset "utf-8";

/* CSS Document */

body {
    margin: 0;
    background-color: #000;
}

button {
    opacity: 0
}

.cart_add {
    position: fixed;
    right: 76px;
    bottom: 30px;
    height: 30px;
    width: 93px;
    height: 93px;
    z-index: 9999;
}

.navi {
    position: absolute;
    right: 1%;
    transform: translateY(-50%);
    top: 50%;
    width: 42px;
    height: 453px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../image/navi/navip.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 9999;
    pointer-events: visible;
}

.btnsdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 92%;
    /* margin-top: 100px; */
}

.btnsdiv p {
    margin: 0;
}

p.navitext {
    width: 16px;
    font-size: 16px;
    word-wrap: break-word;
    color: #fff;
    line-height: 18px;
}


/* p.navi5text {
    line-height: 18.3px;
    padding: 0px 10px;
}

p.navi6text {
    font-size: 15px;
    line-height: 15.6px;
    padding: 0px 0px;
} */

.selected {
    opacity: 0.9;
    position: relative;
}

.selected::before {
    content: '';
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 160%;
    height: 140%;
    background: url(../image/navi/navip-on.png) center no-repeat;
    background-size: contain;
}

.unselected {
    opacity: 0.4
}

div.btn {
    position: fixed;
    top: calc(50% - 264px);
    right: 17px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.key {
    width: 23px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.arrow {
    position: absolute;
    width: 28px;
    left: 484px;
    bottom: 20px;
    transform: rotate(90deg)
}

.down {
    position: absolute;
    width: 28px;
    left: 484px;
    bottom: 20px;
    transform: rotate(270deg)
}

.left {
    position: fixed;
    width: 28px;
    left: 20px;
    bottom: 300px;
    transform: rotate(180deg)
}

.right {
    position: fixed;
    width: 28px;
    right: 70px;
    bottom: 300px;
}

.arrows {
    position: fixed;
    z-index: 9999;
}

.rpics {
    position: fixed;
    right: 0px;
    top: calc(50% - 280px);
    width: 46px;
    z-index: 999;
    background-color: rgba(255, 0, 0, 0.5);
}

.rpicd {
    position: absolute;
    width: 35px;
    opacity: 0;
}

.rpic {
    position: absolute;
    width: 35px;
}

.codediv {
    position: absolute;
    display: flex;
    right: 0px;
    top: calc(50% - 67px);
    width: 134px;
    height: 134px;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.5s;
    opacity: 0;
}

.qrcode {
    width: 110px;
    height: 110px;
}

.bg {
    position: fixed; //视频定位方式设为固定
    left: 0px;
    bottom: 0; //视频位置
    width: 100%;
    height: 100%; //不会因视频尺寸造成页面需要滚动
    z-index: -100; //z轴定位，小于0即可
}

video {
    position: fixed; //视频定位方式设为固定
    left: 0px;
    bottom: 0; //视频位置
    width: 100%;
    height: 100%; //不会因视频尺寸造成页面需要滚动
    z-index: -100; //z轴定位，小于0即可
}